<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Bring changes to the way we implement democracies</h3>
                <h1>Open Democracy Foundation</h1>
                <h5>opendf looks towards changing the way people interact with the governments</h5>				
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/logo.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->